<section class="new_group_container">
<h2 class="login_title">NEW CATEGORY</h2>
<div class="hamburger_div">
  <%= show_svg('search.svg') %>
</div>
<div class="back_div">
    <%= link_to splash_show_path() do %>
      <%= show_svg('back.svg') %>
    <% end %>
</div>
  <%= form_with model: @group, url: user_create_group_path(), method: :post, class: 'food_new_form' do |form| %>
      <%= form.text_field :name, :required => true, class: 'user_name_register_input', placeholder: 'Name' %>
      <div class="green_down_button">
        <%= form.submit 'CREATE', class: 'green_inner_btn' %>
      </div>
  <% end %>
</section>