<!DOCTYPE html>
<html>
  <head>
    <title>ExpApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user%>
      <div class="navigation-bar">
        <%= link_to "Categories", groups_show_path(), class: 'navigation-btn' %>
        <%= link_to "New Category", groups_new_path(), class: 'navigation-btn' %>
      </div>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
